@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

*{  
    margin: 0;
}

body{
    background-color: #0F0E0E;
}
button {
    border: none;
    outline: none;
    font-family: 'Odibee Sans', cursive;
  
    transition-duration: 0.4s;
    background-color:#FFFFFF;
    color:#000000;
    border-radius: 15px;
    width: 114px;
    height: 38px;
    cursor: pointer;   
    font-size: calc(0.75rem + 1vw);
}

button:active{
    background-color: #000000;
    color: #FFFFFF;
    transition-duration: 0.0004s;
}

#text{
    font-family: 'Odibee Sans', cursive;
    color: #FFFFFF;
    margin: 0;
    font-weight: 300;
    font-size: calc(0.75rem + 1vw);
}

.text-style-odibee{
    font-family: 'Odibee Sans', cursive;
    color: #FFFFFF;
    font-weight: 300;
    font-size: calc(0.75vh + 2vw);
}

.text-style-inter{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: calc(0.5vh + 2vw);
    color: #FFFFFF;
}

/*-----------------------HEADER-----------------------*/
header{
    top: 0px;
    position: sticky;
    z-index: 5;
}

.navbar-container{
    width: 100%;
    height: 60px;
    background-color: #000000;
    border-bottom: 2px solid #FFFFFF;
    display: flex;
    align-items:center;
    justify-content: center;
}

#title{
    font-size: 30px;
}

/*------------------HERO----------------------*/
#hero{
    display: block;
    width: 100%;
    height:260px;
}

.hero-container{
    position: absolute;
    display: flex;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#hero-background-image{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 0;
}

#hero-front-image{
    position: absolute;
    width: 70%;
    height: auto;
    z-index: 2;
    transform: rotate(-24deg);
}

.top-item-description{
    display: flex;
    position: absolute;
    height: 56px;
    width: 7em;
    bottom: 0;
    text-align: center;
    justify-content: center;
}

#hero-buy-button{
    bottom: 0;
    position: absolute;
    z-index: 2;
}

.item-container > .buy-button{
    position: absolute;
}

.hero-container > p{
    position: absolute;
    z-index: 2;
    margin-top: 150px;
    color: #FFFFFF;
    font-size: calc(0.75rem + 1vw);
}

/*----------------------MAIN----------------------*/
main{
    position: relative;
    display: grid;
    grid-template-columns: auto;
    top: 0;
    justify-items: center;
    gap: 10px;
    z-index: 1;
}

.item-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #181818;
    border-radius: 20px;
    width: 360px;
    height: 110px;
    margin-top: 2px;
    margin-bottom: 2px;
    align-items: center;
}

.small-item-image{
    height: 100px;
    width: 100%;
    margin-left: 10px;
}

#top-big-item-container{
    margin-top: 10px;
}

.item-container > .item-description{
    height: 100px;
}

.item-description{
    width: auto;
    height: auto;
    text-align: center;
    justify-items: center;
}

.item-description > h2{
    margin-top: 8px;
    
}

.big-item-container{
    position: relative;
    height: 280px;
    width: 361px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.big-item-image{
    position: absolute;
    z-index: 1;
    height: 280px;
    width: 361px;
    border-radius: 20px;
}

.big-item-container > .item-description{
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
    margin-bottom: 15px;
    margin-right: 15px;
}

/*-------------------------FOOTER----------------------*/
footer{
    margin-top: 15px;
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.footer-media-container{
    justify-items: center;
    display: flex;
    align-items: center;
}

.logos{
    height: 24px;
    width: 24px;
    margin-right: 17.5px;
    margin-left: 17.5px;
}

#footer-title{
    margin-top: 5%;
}
    
#footer-title > a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-style: normal;
    font-weight: 400;   
    font-size: 40px;
}

/* -----------------------CART-----------------------------*/

#cart-button{
    height: 28px;
    width: 28px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
}
.cart{
    position: fixed;
    margin-top: 61px;
    top: 0;
    right: -1000px;
    width: 260px;
    min-height: 100vh;
    background: #0F0E0E;
    z-index: 5;
    padding: 0;
    transition: right 0.5s ease-in-out;
    border-top: 1px solid #FFFFFF;
}

.cart.open {
    right: 0;
}

.cart-background-blur{
    right: -500px;
    bottom: 0;
    margin-top: 61px;
    position: fixed;
    height: 100%;
    width: 100%;
}

.cart-background-blur.is-visible{
    right: 0;
    z-index: 4;
    backdrop-filter: blur(5px);
}

.cart > h2{
   margin: 1em 0; 
   padding: 0 14px;
}

.cart-item-container{
    padding: 0;
}

.cart-items{
    display: grid;
    grid-template-columns: 75% 25%;
    position: relative;
    padding: 1em;
    height: 38px;
    border-top:2px solid #FFFFFF;
}

.item-information{
    color: #9a9595;
    margin-right: 2.5px;
}

.cart-item-container{
    list-style: none;
}

.remove-item-button{
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    right: 1em;
    top: 50%;
}

.item-information > span{
    display: flex;
}

.product-price{
    color: #9a9595;
}

.cart-total{
    border-top: 3px solid #FFFFFF;
    padding: 1em;
}

.cart-amount{
    float: right;
}

.cart > a{
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #FFFFFF;
    color: #000000;
    text-align: center;
    font-size: 18px;
}


/*--TABLET--*/
@media only screen and (min-width: 640px) and (max-width: 1007px) {
    #hero{
        height: 350px;
    }

    .hero-container{
        position: absolute;
        display: flex;
        height: 349px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #hero-front-image{
        width: 500px;
        height: auto;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1vh;
       
    }

    #top-item-container{
        grid-template-columns: 1/2;
        grid-template-rows: 1/2;
    }
    .top-item-description{
        height: 65px    ;
    }

    #produkt2{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #small-item-image3{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .item-container{
        width: 45vw;
        height: 26vh;
        margin-left: 2vh;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }

    .item-description{
        left: 0;
    }

    .big-item-container{
        width: 45vw;
        height: 26vh;  
        margin-right: 2vh;
    }

    .small-item-image{
        width: 60%;
        height: auto;
    }

    
    .big-item-image{
        width: 100%;
        height: 100%;  
    }

    footer{
        margin-top: 8%;
    }
    .footer-media-container{
        gap: 30px;
    }

    .logos{
        width: 40px;
        height: auto;
    }

    #footer-title > a{
        font-size: 64px;
    }

    .cart{
        width: 350px;
    }

    .cart-items{
        padding: 24px ;
    }

    .item-information > span{
        font-size: 22px;
    }
}

@media only screen and (min-width: 1008px){

    button:hover {
        background-color:#232222;
        color: #FFFFFF;
    }

    #hero{
        height: 650px;
    }

    .hero-container{
        height: 600px;
    }

    #hero-background-image{
        height: 700px;
        width: 100%;
    }

    .top-item-description{
        height: 100px;
    }

    #hero-front-image{
        width: 850px;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .item-container{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        width: 580px;
        height: 500px;
        align-items: normal;
        justify-content: center;
    }

    .small-item-image{
        width: 400px;
        height: auto;   
    }

    #small-item-image1{
        margin-left: 60px;
    }

    #small-item-image2{
        margin-top: 30px;
    }

    .big-item-container{
        margin-top: 15px;
        width: 580px;
        height: 500px;
    }

    .big-item-image{
        width: 100%;
        height: 100%;
    }

    .left-products{
        margin-left: 50px;
    }

    .right-products{
        margin-right: 50px;
    }

    .item-description{
        left: 0;
    }

    button{
        width: 160px;
        height: 50px;
    }

    footer{
        justify-content: center;
        margin-top: 3%;
        height: 300px;
    }

    .footer-media-container{
        gap: 100px;
    }

    .logos{
        width: 50px;
        height: auto;
    }

    #footer-title > a{
        font-size: 80px;
    }

    .cart{
        width: 670px;
    }

    .cart > h2{
        margin: 20px 0;
    }

    .cart-items{
        height: 100px;
    }

    .remove-item-button{
        font-size: 40px;
    }


}

