@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

*{  
    margin: 0;
}

body{
    background-color: #0F0E0E;
}
button {
    border: none;
    outline: none;
    font-family: 'Odibee Sans', cursive;
    size: 18px;
    transition-duration: 0.4s;
    background-color:#FFFFFF;
    color:#000000;
    border-radius: 15px;
    width: 114px;
    height: 38px;
    cursor: pointer;   
    font-size: calc(0.75rem + 1vw);
}

#text{
    font-family: 'Odibee Sans', cursive;
    color: #FFFFFF;
    margin: 0;
    font-weight: 300;
    font-size: calc(0.75rem + 1vw);
}

.textStyleOdibee{
    font-family: 'Odibee Sans', cursive;
    color: #FFFFFF;
    font-weight: 300;
    font-size: calc(0.75vh + 2vw);
}

.textStyleInter{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: calc(0.5vh + 2vw);
    color: #FFFFFF;
}

/*-----------------------HEADER-----------------------*/
header{
    top: 0px;
    position: sticky;
    z-index: 5;
}

.navContainer{
    width: 100%;
    height: 60px;
    background-color: #000000;
    border-bottom: 2px solid #FFFFFF;
    display: flex;
    align-items:center;
    justify-content: center;
}

#headerTitle{
    font-size: 30px;
}

/*------------------HERO----------------------*/
#hero{
    display: block;
    width: 100%;
    height:260px;
}

.heroContainer{
    position: absolute;
    display: flex;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#heroBackgroundImage{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 0;
}

#heroFrontImage{
    position: absolute;
    width: 70%;
    height: auto;
    z-index: 2;
    transform: rotate(-24deg);
}

.topProductDetails{
    display: flex;
    position: absolute;
    height: 56px;
    width: 7em;
    bottom: 0;
    text-align: center;
    justify-content: center;
}

#topButton{
    bottom: 0;
    position: absolute;
    z-index: 2;
}

.itemContainer > .buy-button{
    position: absolute;
}

.heroContainer > p{
    position: absolute;
    z-index: 2;
    margin-top: 150px;
    color: #FFFFFF;
    font-size: calc(0.75rem + 1vw);
}

/*----------------------MAIN----------------------*/
main{
    position: relative;
    display: grid;
    grid-template-columns: auto;
    top: 0;
    justify-items: center;
    gap: 10px;
    z-index: 1;
}

.itemContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #181818;
    border-radius: 20px;
    width: 360px;
    height: 110px;
    margin-top: 2px;
    margin-bottom: 2px;
    align-items: center;
}

#topItemContainer{
   
}

.smallFormatImages{
    height: 100px;
    width: 100%;
    margin-left: 10px;
}

#topBigItemContainer{
    margin-top: 10px;
}

.itemContainer > .itemDescription{
    height: 100px;
}

.itemDescription{
    text-align: center;
    justify-items: center;
}

.itemDescription > h2{
    margin-top: 8px;
    
}

.bigItemContainer{
    position: relative;
    height: 280px;
    width: 361px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.largeFormatImages{
    position: absolute;
    z-index: 1;
    height: 280px;
    width: 361px;
    border-radius: 20px;
}

.bigItemContainer > .itemDescription{
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
    margin-bottom: 15px;
    margin-right: 15px;
}

/*-------------------------FOOTER----------------------*/
footer{
    margin-top: 15px;
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.footerMediaContainer{
    justify-items: center;
    display: flex;
    align-items: center;
}

.logos{
    height: 24px;
    width: 24px;
    margin-right: 17.5px;
    margin-left: 17.5px;
}

#footerTitle{
    margin-top: 5%;
}
    
#footerTitle > a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-style: normal;
    font-weight: 400;   
    font-size: 40px;
}

/* -----------------------CART-----------------------------*/

#cartIconButton{
    height: 28px;
    width: 28px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    cursor: pointer;
}
.cart{
    position: fixed;
    margin-top: 61px;
    top: 0;
    right: -500px;
    width: 260px;
    min-height: 100vh;
    background: #0F0E0E;
    z-index: 5;
    padding: 0;
    transition: right 0.5s ease-in-out;
    border-top: 1px solid #FFFFFF;
}

.cart.open {
    right: 0;
}

.cartShadowDrop{
    right: -500px;
    bottom: 0;
    margin-top: 61px;
    position: fixed;
    height: 100%;
    width: 100%;
}

.cartShadowDrop.is-visible{
    right: 0;
    z-index: 4;
    backdrop-filter: blur(5px);
}

.cart > h2{
   margin: 1em 0; 
   padding: 0 14px;
}

.cartItemContainer{
    padding: 0;
}

.cartItems{
    display: grid;
    grid-template-columns: 75% 25%;
    position: relative;
    padding: 1em;
    height: 38px;
    border-top:2px solid #FFFFFF;
}

.quantityText{
    color: #9a9595;
    margin-right: 2.5px;
}

.cartItemContainer{
    list-style: none;
}

.productRemoveButton{
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    right: 1em;
    top: 50%;
}

.productDetails > span{
    display: flex;
}

.productPrice{
    color: #9a9595;
}

.cart-total{
    border-top: 3px solid #FFFFFF;
    padding: 1em;
}

.cart-amount{
    float: right;
}

.cart > a{
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #FFFFFF;
    color: #000000;
    text-align: center;
    font-size: 18px;
}


/*--TABLET--*/
@media only screen and (min-width: 640px) and (max-width: 1007px) {
    #hero{
        height: 350px;
    }

    .heroContainer{
        position: absolute;
        display: flex;
        height: 349px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #heroFrontImage{
        width: 500px;
        height: auto;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1vh;
       
    }

    #topItemContainer{
        grid-template-columns: 1/2;
        grid-template-rows: 1/2;
    }
    .topProductDetails{
        height: 65px    ;
    }

    #produkt2{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #produkt3{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .itemContainer{
        width: 45vw;
        height: 26vh;
        margin-left: 2vh;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }
    .bigItemContainer{
        width: 45vw;
        height: 26vh;  
        margin-right: 2vh;
    }

    .smallFormatImages{
        width: 55%;
        height: auto;
    }

    
    .largeFormatImages{
        width: 100%;
        height: 100%;  
    }

    footer{
        margin-top: 8%;
    }
    .footerMediaContainer{
        gap: 30px;
    }

    .logos{
        width: 40px;
        height: auto;
    }

    #footerTitle > a{
        font-size: 64px;
    }

    .cart{
        width: 350px;
    }

    .cartItems{
        padding: 24px ;
    }

    .productDetails > span{
        font-size: 22px;
    }

    
    
}

@media only screen and (min-width: 1008px){
    
    button:hover {
        background-color:#232222;
        color: #FFFFFF;
    }

    #hero{
        height: 650px;
    }

    .heroContainer{
        height: 600px;
    }

    #heroBackgroundImage{
        height: 700px;
        width: 100%;
    }

    .topProductDetails{
        height: 70px;
    }

    #heroFrontImage{
        width: 700px;
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .itemContainer{
        display: flex;
        flex-direction: column;
        width: 580px;
        height: 500px;
    }

    .smallFormatImages{
        width: 400px;
        height: auto;
    }

    .bigItemContainer{
        margin-top: 15px;
        width: 580px;
        height: 500px;
    }

    .largeFormatImages{
        width: 100%;
        height: 100%;
    }

    .left-products{
        margin-left: 50px;
    }

    .right-products{
        margin-right: 5 0px;
    }
}

